<div class="container">
  <div class="user">
    <img src=<% @user.photo %>>
    <h1><%= @user.name %></h1>
    <p>Number of posts: <%= @user.posts_counter %></p>
  </div>

  <div class="bio">
    <h2>Bio</h2>
    <p><%= @user.bio %></p>
  </div>

  <% @user.recent_posts.each do |post| %>
      <div>
        <h3><%= post.title %></h3>
        <p><%= post.text %></p>
        <p>Comments: <%= post.comments_counter %> | Likes: <%= post.likes_counter %></p>
      </div>
  <% end %>

  <button><%= link_to "See all posts", user_posts_path(@user.id) %></button>
</div>
