<button class="back-link"><%= link_to "Go to user", user_path(@user.id) %></button>

<div class="container">
  <div class="user">
    <img src=<% @user.photo %>>
    <h1><%= @user.name %></h1>
    <p>Number of posts: <%= @user.posts_counter %></p>
  </div>

  <% @posts.each do |post| %>
    <a href="/users/<%=@user.id %>/posts/<%= post.id %>">
      <div>
        <h2><%= post.title %></h2>
        <p><%= post.text %></p>
        <p>Comments: <%= post.comments_counter %> | Likes: <%= post.likes_counter %></p>
      </div>

      <ul>
      <% post.recent_comments.each do |comment| %>
        <li><%= @user.name %>: <%= comment.text %></li>
      <% end %>
      </ul>
    </a>
  <% end %>
</div>
